{
  "paneLayer" : "Hud",
  "gui" : {
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileHeader" : "/D8Encyclopedia/Pane/arcana/header.png",
      "fileBody" : "/D8Encyclopedia/Pane/arcana/body.png"
    },
    "screenCanvas" : {
      "zlevel" : -9,
      "type" : "canvas",
      "rect" : [0, 23, 600, 319],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },
    "close" : {
      "zlevel" : -8,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [585, 325]
    },
    "basicUsageInfo" : {
      "zlevel" : -8,
      "type" : "button",
      "base" : "/D8Encyclopedia/Pane/new/questionBtn.png",
      "hover" : "/D8Encyclopedia/Pane/new/questionBtn.png?brightness=25?saturation=-25",
      "pressed" : "/D8Encyclopedia/Pane/new/questionBtn.png?brightness=-25?saturation=-25",
      "pressedOffset" : [0, 0],
      "position" : [562, 320],
      "tooltip" : "Basics Usage : Player\nHow To Use The Encyclopedia ^shadow,cyan;[Left Click To Open]^reset;"
    },

    
    "windowtitle" : {
      "type" : "title",
      "title" : " D8 | Encyclopedia - Arcanomicon",
      "subtitle" : "  Arcanomicon Edition : First",
      "position" : [74, 404],
      "icon" : {
        "type" : "image",
        "file" : "",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "title_icon" : {
      "type" : "image",
      "file" : "/D8Encyclopedia/Category/arcanaAddonIcon.png",
      "position" : [6, 321],
      "mouseTransparent" : true,
      "centered" : false,
      "zlevel" : -1
    },

    "window" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [5, 23, 400, 319],
      "position" : [0, 0],
      "children" : {}
    },

    "zoomSlider" : {
      "visible" : false,
      "type" : "slider",
      "position" : [6, 23],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "zlevel" : -7
    },
    "zoomSliderLbl" : {
      "visible" : false,
      "type" : "label",
      "position" : [123, 27],
            
      "fontSize" : 8,
      "zlevel" : -7,
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "mouseTransparent" : true,
      "value" : "0"
    },

    "categoryTitleLbl" : {
      "type" : "label",
      "position" : [306.5, 309],
            
      "fontSize" : 8,
      "zlevel" : 100,
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "mouseTransparent" : true,
      "value" : "[Replace Me | Replace Me]",
      "color" : [255, 160, 0]
    },

    "categoryLayout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "position" : [5, 23],
      "size" : [45, 296],
      "children" : {
        "category_background" : {
          "type" : "image",
          "file" : "/D8Encyclopedia/Pane/arcana/categoryBackground.png",
          "position" : [0, 0],
          "mouseTransparent" : true,
          "centered" : false,
          "zlevel" : -1
        },
        "category"  : {
          "type": "scrollArea",
          "zlevel" : 1,
          "position" : [1, 22],
          "size" : [34, 296], 
          "children": {
            "list" : {
              "columns": 1,
              "type" : "list",
              "callback" : "catSelected",
              "schema" : {
                "selectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=fff5?scalenearest=24;24",
                "unselectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=0005?scalenearest=24;24",
                "spacing" : [1, 1],
                "memberSize" : [24, 24],
                "listTemplate" : {
                  "base" : {
                    "type" : "image",
                    "file" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=0005?scalenearest=24;24",
                    "position" : [12, 12],
                    "mouseTransparent" : false,
                    "centered" : true,
                    "zlevel" : 2
                  },
                  "icon" : {
                    "type" : "image",
                    "file" : "/interface/cockpit/cockpit.png?fade=f00;0.25",
                    "position" : [12, 12],
                    "mouseTransparent" : false,
                    "centered" : true,
                    "zlevel" : 3
                  }
                }
              }
            }
          }
        }
      }
    }
    
  },

  "canvasClickCallbacks" : {
    "screenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "screenCanvas" : "canvasKeyEvent"
  },
  "canvasCfg" :{
    "debug" : false
  },

  "categoryList" : "/D8Encyclopedia/Category/arcana_list.json",
  "basicUsageInfo" : {
    "gui" : {
      "labelTitle" : {
        "value" : "Basic Usage : Player"
      },
      "labelLayout" : {
        "children" : {
          "labelScrollArea" : {
            "children": {
              "labelText" : {
                "value" : "- Move your cursor on the left-most slide bar to show the category icon\n- Left Click on the screen and drag with the cursor to move\n- Left Click on button to use them\n- Note : Only button can have tooltip in categories."
      } } } } }
    }
  },
  "scripts" : [ 
    "/D8Encyclopedia/Pane/new/main.lua"
  ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "null",
    "close",
    "zoomSlider",
    "catSelected",

    "subScript_btn",
    "basicUsageInfo"
  ],

  "tooltipCfg" : {
    "borderColor" : "ba9d47",
    "backgroundColor" : "91772f64"
  }
}
